@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap');

#logo {
  padding: 20px;
}
body{
  margin: 0px;
}
header{
  margin-top: 50px;
  padding-top: 60px;
}
header > h1{
  font-family: "Shantell Sans";
  text-align: center;
  font-size: 45px;
}
h3{
  font-family: "Shantell Sans";
  text-align: center;
}
#excerpt, #excerpt1, #excerpt2{
  font-family: "Shantell Sans";
}
.nav {
  font-family: 'Shantell Sans';
  font-size: 20px;
  position: fixed;
  z-index: 1;
  background-color: #00896f;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}

.nav .container {
  font-family: 'Shantell Sans';
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  transition: all 0.3s ease-in-out;
}

.nav ul {
  font-family: 'Shantell Sans';
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav a {
  font-family: 'Shantell Sans';
  color: #fff;
  text-decoration: none;
  padding: 7px 25px;
  transition: all 0.3s ease-in-out;
}
.solid{
  border-top: 2px solid #bbb;
  width: 50%;
  padding: auto;
}
.contactForm{
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: #00896f;
    border-radius: 15px;
    margin: auto;
    padding: 15px;
    width: 50%;
    height: 470px;
    box-sizing: border-box;
}
form{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
input{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    height: 28px;
    border: 1px solid #ccc;
}
input::placeholder{
  font-size: 10px;
}
.topBox1{
  margin-right: 20px;
  width: 150px;
}
.topBox2{
  margin-left: 20px;
  width: 150px;
}   
textarea::placeholder{
    padding: 5px 5px 5px 5px;
    font-size: 10px;
  }   
.email{
    width: 350px;
}
textarea{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    height: 150px;
    border: 1px solid #ccc;
}
.option{
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 15px;
}
.radioForm{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.title > h4{
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  float: left;
  margin: 5px 15px 0;
}
.radioButtons{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
button{
  background-color: #66b8a8;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 15px;
  cursor: pointer;
}
button:hover{
  background-color: #00362c;
}
img{
  max-width: 100%;
}
.cards{
  display: flex;
  flex-direction: row;
  margin: 40px auto 40px auto;
}
.card1{
  margin: 20px auto 20px auto;
  text-decoration: none;
  text-align: center;
}
/*JavaScript card*/
.card{
  box-shadow: 0 2px 10px rgba( 0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  width: 325px;
}
.card1:visited {
  color: black;
}
.card-header{
  height: 200px;
}
.card-header img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.card-content{
  background-color: #fff;
  padding: 30px;
}
.card-title{
  height: 20px;
  margin: 0;
}
.card-excerpt{
  color: #777;
  margin: 10px 0 20px;
  text-align: center;
}
.animated-bg {
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 10%,
    #f6f7f8 20%,
    #f6f7f8 100%
  );
  background-size: 200% 100%;
  animation: bgPos 1s linear infinite;
}

.animated-bg-text {
  border-radius: 50px;
  display: inline-block;
  margin: 0;
  height: 10px;
  width: 100%;
}

@keyframes bgPos {
  0% {
    background-position: 50% 0;
  }

  100% {
    background-position: -150% 0;
  }
}
footer{
  font-family: "Shantell Sans";
  background-color: #00896f;
  color: #fff;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.fa-brands {
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  content: '\f075';
  font-family: 'Font Awesome 5 Free';
  color: #fff;
  font-size: 3rem;
  border: none;
}
/* responsive */
@media (min-width: 1200px){
  .contactForm{
    width: 30%;
  }
}
@media (max-width: 700px){
  textarea{
    width: 225px;
  }
  .email{
    width: 200px;
    justify-content: center; 
  }
  form{
    flex-wrap: wrap;
  }
  .topBox1, .topBox2{
    margin: 5px 0;
    width: 200px;
  }
  .radioButtons{
    flex-direction: column;
  }
  .contactForm{
    height: 660px;
  }
  .option{
    font-size: 12px;
  }
  .title{
    font-size: 15px;
    padding: 20px;
  }
  .cards{
    flex-direction: column;
  }
}