@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap');

#logo {
  padding: 20px;
}
body{
  margin: 0px;
  overflow-x: hidden;
}
header{
  margin-top: 50px;
  padding-top: 60px;
}
.nav {
  font-family: 'Shantell Sans';
  font-size: 20px;
  position: fixed;
  z-index: 1;
  background-color: #00896f;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}

.nav .container {
  font-family: 'Shantell Sans';
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  transition: all 0.3s ease-in-out;
}

.nav ul {
  font-family: 'Shantell Sans';
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav a {
  font-family: 'Shantell Sans';
  color: #fff;
  text-decoration: none;
  padding: 7px 25px;
  transition: all 0.3s ease-in-out;
}
header > h1{
  font-family: "Shantell Sans";
  text-align: center;
  font-size: 45px;
}
.box{
  transform: translateX(200%);
  transition: transform 0.4s ease;
}
.box:nth-of-type(even){
  transform: translateX(-200%);
}
.box.show{
  transform: translateX(0);
}
.boxContainer1 {
  display: flex;
  width: 100%;
}
.boxC11{
  flex-basis: 60%;
  height: 600px;
  background-color: #E38F2D;
  margin: 2px 2px 2px 0;
}
img{
  width: 60%;
  height: 500px;
  padding: 50px 80px 50px 120px;
}
.boxC12{
  flex-basis: 40%;
  height: 600px;
  margin: 2px 0 2px 2px;
  background-color: #E38F2D;
}
.boxContainer2 {
  display: flex;
  width: 100%;
}
.boxC22{
  flex-basis: 60%;
  height: 600px;
  background-color: #E38F2D;
  margin: 2px 0 2px 2px;
}
.boxC21{
  flex-basis: 40%;
  height: 600px;
  margin: 2px 2px 2px 0;
  background-color: #E38F2D;
}
.boxC11 > h2{
  font-family: "Shantell Sans";
  margin-left: 60px;
  margin-top: 60px;
  font-size: 30px;
  color:white;
}
.boxC11 > p, ul{
  font-family: "Shantell Sans";
  margin: 0px 60px 0px 60px;
  padding-top: 5px;
  font-size: 18px;
  color: white;
}
.boxC22 > h2{
  font-family: "Shantell Sans";
  margin-left: 60px;
  margin-top: 60px;
  font-size: 30px;
  color:white;
}
.boxC22 > p, ul{
  font-family: "Shantell Sans";
  padding-top: 5px;
  margin: 0px 60px 0px 60px;
  font-size: 18px;
  color: white;
}
footer{
  font-family: "Shantell Sans";
  background-color: #00896f;
  color: #fff;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.fa-brands {
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  content: '\f075';
  font-family: 'Font Awesome 5 Free';
  color: #fff;
  font-size: 3rem;
  border: none;
}
@media (max-width: 800px){
  .boxContainer1{
    flex-wrap: wrap;
  }
  .boxC11{
    flex-basis: 100%;
    margin: 2px 0 2px 0;
  }
  .boxC12{
    flex-basis: 100%;
    margin: 2px 0 2px 0;
  }
  .boxContainer2{
    flex-wrap: wrap-reverse;
  }
  .boxC21{
    flex-basis: 100%;
    margin: 2px 0 2px 0;
  }
  .boxC22{
    flex-basis: 100%;
    margin: 2px 0 2px 0;
  }
  .boxC22 > p{
    font-size: 24px;
  }
  .boxC11 > p{
    font-size: 24px;
  }
}
@media (max-width: 600px){
  .boxC22 > p{
    font-size: 20px;
    padding-top: 20px;
  }
  .boxC11 > p{
    font-size: 20px;
    padding-top: 20px;
  }
}