@font-face{
  font-family: Komiko;
  src: url(Komiko-vY74.ttf);
}

h1{
    font-family: Komiko;
    text-align: center;
  }
  .box{
    transform: translateX(200%);
    transition: transform 0.4s ease;
  }
  .box:nth-of-type(even){
    transform: translateX(-200%);
  }
  .box.show{
    transform: translateX(0);
  }
  .boxContainer1 {
    display: flex;
    width: 100%;
  }
  .boxC11{
    flex-basis: 60%;
    height: 375px;
    background-color: #99BF72;
    margin: 2px;
    margin-left: 35px;
  }
  img{
    width: 100%;
    height: 375px;
    justify-content: center;
  }
  .boxC12{
    flex-basis: 40%;
    height: 375px;
    margin: 2px;
    background-color: #99BF72;
    margin-right: 35px;
  }
  .boxContainer2 {
    display: flex;
    width: 100%;
  }
  .boxC22{
    flex-basis: 60%;
    height: 375px;
    background-color: #99BF72;
    margin: 2px;
    margin-right: 35px;
  }
  .boxC21{
    flex-basis: 40%;
    height: 375px;
    margin: 2px;
    background-color: #99BF72;
    margin-left: 35px;
  }
  .boxC11 > h2{
    font-family: Komiko;
    margin-left: 50px;
    margin-top: 50px;
    color:white;
  }
  .boxC11 > p{
    font-family: Komiko;
    padding: 30px 0;
    margin: 0px 50px 0px 50px;
    font-size: 22px;
    color: white;
  }
  .boxC22 > h2{
    font-family: Komiko;
    margin-left: 50px;
    margin-top: 50px;
    color:white;
  }
  .boxC22 > p{
    font-family: Komiko;
    padding: 30px 0;
    margin: 0px 50px 0px 50px;
    font-size: 22px;
    color: white;
  }
